<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
            <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <link rel="shortcut icon" href="images/icons/favicon.ico">
                            <link rel="apple-touch-icon" href="images/icons/favicon.png">
                                <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.png">
                                    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.png">
                                        <!--Loading bootstrap css-->
                                        
                                            <link type="text/css" rel="stylesheet" href="styles/jquery-ui-1.10.4.custom.min.css">
                                                <link type="text/css" rel="stylesheet" href="styles/font-awesome.min.css">
                                                    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
                                                        <link type="text/css" rel="stylesheet" href="styles/animate.css">
                                                            <link type="text/css" rel="stylesheet" href="styles/all.css">
                                                                <link type="text/css" rel="stylesheet" href="styles/main.css">
                                                                    <link type="text/css" rel="stylesheet" href="styles/style-responsive.css">
                                                                        <link type="text/css" rel="stylesheet" href="styles/zabuto_calendar.min.css">
                                                                            <link type="text/css" rel="stylesheet" href="styles/pace.css">
                                                                                <link type="text/css" rel="stylesheet" href="styles/jquery.news-ticker.css">
                                                                                </head>
                                                                                <body>
                                                                                    <div>
                                                                                        
                                                                                                <!--BEGIN BACK TO TOP-->
                                                                                                                               <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
                                                                                                                                                                 <!--END BACK TO TOP-->
                                                                                                                                                                 <!--BEGIN TOPBAR-->
                                                                                                                                                                 <div id="header-topbar-option-demo" class="page-header-topbar">
                                                                                                                                                                                                                 <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
                                                                                                                                                                                                                                  <div class="navbar-header">
                                                                                                                                                                                                                                                     <img src="images/logo.png"/>
                                                                                                                                                                                                                                                                          <a id="logo" href="index.html" class="navbar-brand"><span style="display: none" class="logo-text-icon"></span></a></div>
                                                                                                                                                                                                                                                                                         <div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
                                                                                                                                                                                                                                                                                                              
                                                                                                                                                                                                                                                                                                          
                                                                                                                                                                                                                                                                                                         

                                                                                    </div>
                                                                                </body></title>
    </head>
</html>
